/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
@media(max-width:991px) {
    .join{
        display: none;
    }
    header .large-join{
        display: inherit;
    }
}
@media(max-width:767px) and (min-width:576px){
   
}
@media(max-width:767px){
   .header-1{
display: none;
    }
    .procedure-part .phone{
        display: none; 
    }
}
@media(max-width:575px){
    .navbar-light .navbar-nav .nav-link{
        text-align: right;
    }
    .banner .banner-content h1{
        font-size: 35px;
    }
    .instruction-table{
        margin: 15px 0;
    }
    .service-part .heading{
        width: 100%;
    }
    .service-part .heading h1{
        font-size: 25px;
    }
    .service-part .services .service-table{
        margin: 15px 0;
    }
    .service-part .button{
        margin: auto;
        }
       
        .procedure-part .procedure h1{
            font-size: 22px;
            text-align: center;
        }
        .procedure-part .procedure span{
            margin: 20px auto 35px;
            
        }
        .procedure-part .procedure{
            padding: 60px 30px 0;
        }
        .procedure-part .procedure ul li .box{
            height: 45px;
            width: 45px;
        }
        .procedure-part .procedure ul li .content{
            margin-left: 20px;
        }
        .procedure-part .procedure ul li .content p{
            font-size: 14px;
        }
        .transaction h1{
            font-size: 35px
        }
        .chart img{
    width: 40%;
        }
        .chart .safe p, .chart .mobile p, .chart .mobile p, .chart .support p, .chart .exchange p, .chart .buy p, .chart .wallet p{
            font-size: 13px;
        }
        .chart .safe {
            position: absolute;
            top: 10%;
            left: 20%;
            transform: translate(-20%, -10%);
        }
        .chart .mobile {
            position: absolute;
            top: 60%;
            left: 20%;
            transform: translate(-20%, -60%);
        }
        .chart .wallet {
            position: absolute;
            left: 21%;
            bottom: -6%;
            transform: translate(-21%,7%);
        }
        .chart .support {
            position: absolute;
            left: 79%;
            top: 10%;
            transform: translate(-79%,-10%);
        }
        .chart .exchange {
            position: absolute;
            left: 80%;
            top: 60%;
            transform: translate(-80%,-60%);
        }
        .chart .buy {
            position: absolute;
            left: 79%;
            bottom: -6%;
            transform: translate(-79%,6%);
        }
        .expert-part .heading{
            width: 100%;
        }
        .expert-part .heading h1{
            font-size: 22px;
        }
        .expert-part .expert img{
            width: 65%;
        }
        .expert-part .expert {
            padding-bottom: 20px;
        }
        .blog-part .heading{
            width: 100%;
        }
        .blog-part .blog{
            margin-bottom: 20px;
        }
        .feedback-part .heading{
            width: 100%;
        }
        .contact-part .link-part{
            padding-left: 10px;
        }
        footer p{
            text-align: center;
        }
        footer ul{
            justify-content: center;
            margin-top: 15px;
            padding-left: 0;
        }
        .feedback-part .investor .icon{
            left: 58%;
            transform: translate(-58%,-49%);
        }
        .contact-part .logo-part .logo{
            width: 50%;
            margin: 0 auto 20px;

        }
        .contact-part .logo-part p{
            text-align: center;
        }
        .contact-part .logo-part .icon ul{
            width: 50%;
            margin: 20px auto 20px;
        }
        
}
@media(max-width:425px){
    .chart .wallet {
        left: 22%;
        bottom: -10%;
        transform: translate(-22%,10%);
    }
    .chart .mobile{
        top: 64%;
        left: 20%;
        transform: translate(-20%, -64%);
    }
    .chart .buy {
        left: 80%;
        bottom: -15%;
        transform: translate(-80%,15%);
    }
    .chart .exchange {
        left: 80%;
        top: 72%;
        transform: translate(-80%,-72%);
    }
    .chart .safe .icon, .chart .mobile .icon, .chart .wallet .icon, .chart .support .icon, .chart .exchange .icon, .chart .buy .icon{
        height: 32px;
        width: 32px;
    }
    .blog-part .blog .icon{
        top: 57%;
        transform: translate(-6%,-57%);
    }
    .blog-part .blog ul{
        width: 70%;
    }
    .feedback-part .investor .icon {
        left: 59%;
        top: 51%;
        transform: translate(-59%,-51%);
    }
}
@media(max-width:375px){
    .procedure-part .procedure ul li .box{
        height: 35px;
        width: 35px;
    }
    .blog-part .blog .icon{
        top:51%;
        transform: translate(-6%,-49%);
    }
    .blog-part .blog ul{
        width: 68%;
    }
}
@media(max-width:320px){
    .transaction p{
        font-size: 16px;
    }
    .contact-part .logo-part .icon ul{
        width: 75%;
    }
    .contact-part .newsletter h1{
        font-size: 20px;
    }
    .blog-part .blog ul{
width: 65%;
    }
    .blog-part .blog .icon{
        top: 45%;
        transform: translate(-6%,-45%);
        }
        .feedback-part .investor .icon {
            left: 63%;
            top: 51%;
            transform: translate(-63%,-51%);
        }
}